.app {
  padding: 0px 15px;
}

button {
  cursor: pointer;
}

.no-style-btn {
  background: transparent;
  border: none;
  padding: 0px;
}

.no-style-btn[disabled],
.disabled {
  opacity: .5;
  cursor: auto;
}